---
layout: default
---
<div class="post">

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
           {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}

        {% if site.newsletter.enabled and site.footer_fixed %}
          {% include scripts/newsletter.liquid center=true %}
        {% endif %}

        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}
    
    <div>
      <h1>Beier Zhu</h1>
      <p>
        Research Fellow in Robust Machine Learning,<br>
        Nanyang Technological University. <a href="./assets/pdf/Beier_Zhu.pdf"><i class="fas fa-file-pdf"></i>Curriculum Vitae</a>
      </p><br/><br/>
    </div>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    <div style="clear: both;"></div>
    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if site.news_limit %}
      <div class="news">
        <h2>News</h2>
        {% if site.news != blank %}
          <div class="news-scroll-box">
            <table class="table table-sm table-borderless">
              {% assign news = site.news | reverse %}
              {% for item in news limit: site.news_limit %}
                <tr>
                  <th scope="row" style="width: 20%">{{ item.date | date: "%b %-d, %Y" }}</th>
                  <td>
                    {% if item.inline %}
                      {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
                    {% else %}
                      <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div>
        {% else %}
          <p>No news so far...</p>
        {% endif %}
      </div>
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Selected Publications</a></h2>
      {% include selected_papers.liquid %}
    {% endif %}

  </article>
</div>
